body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.center {
  text-align: center;
}

.main-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 1;
}

.vertical-gutter {
  padding: 20px 0;
}

.option-container {
  display: inline-block;
  padding: 0 10px;
}

.error-button {
  background-color: #ac0909;
  color: white;
}

.button-center {
  justify-content: space-between;
  align-items: center;
  display: flex;
  flex-direction: row;
}

.loader-wrapper {
  height: 50vh;
}
